.container {
    margin: 20vh;

}

.form-check-label {
    margin-right: 3vh;
}






#iframeMap {
    border:0;
    width: 100%;
    height: 400px;
       

}

#divForm {
    border: solid #011C40;
    margin-top: 15vh;
    padding: 5vh;
}