

#navId {    /* Estructura base del nav */
    
    background-color: #CFE0DE/*#003e65*/;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    z-index: 100000;
    width: 100vw;
    position: fixed;
    
    
}

#containerNavLink {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 15%;
}

.navLink { /* Links dentro del Nav  */
    text-decoration: none;
    color: #000000/*#011C40*/;
    padding: 2vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;


}

.navLink:hover {
    background-color: #016893;
    color:white;
}


#navImg {
  height: 6vh;


}

.ico{
    margin-right: 2vh;
}

/*  Responsive */

@media (max-width: 700px) {

    .navLink {
        font-size: 2vh;
        text-align: center;
        padding: 1.5vh;
    }

    #navImg {
        height: 3vh;
        margin:1.5vh;
      
      }


}
