/* MAIN GRID*/
/* MAIN GRID*/



#mainId {
    margin-top: 15vh;
    margin-bottom: 10vh;
}



.imgCard {
    max-width:  100%;
    max-height: 28vh;
}

.container{
    width: 10vh;
    margin-top:75px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 32vw 32vw 32vw;
    grid-template-rows: 1fr 1fr;


}

/* MAIN GRID*/
/* MAIN GRID*/

/* ORGANIZAR INTERIOR */
/* ORGANIZAR INTERIOR */

.botonContacto {
    background-color: #016893;
    color: white;
    padding: 2vh;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    margin-bottom: 4vh;
}


#cardSectionTitle , #menuFiltro{
    font-family: 'Raleway', sans-serif;
    font-weight: 1200;
    text-align: center;
}

#cardSectionTitle{

    margin-bottom: 10vh;

}

.marcaMenu {
    
    padding: 3vh;
    display: inline;
    background-color: #CFE0DE;
    color:#000000


}