.botonContacto {
    background-color: #016893;
    color: white;
    padding: 2vh;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    margin-bottom: 4vh;
}


.container{
    margin-top:150px
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 
    'header header header header'
    'menu   card    card    card'
    'menu   card    card    card';
}

.cardVehiculo {
    width: 10px;
    height: 10px;



}
.card1 {
    grid-area: card;

}

.card2 {
    grid-area: card;
}

.card3 {
    grid-area: card;
}

.card4 {
    grid-area: card;
}

.card5 {
    grid-area: card;
}

.card6 {
    grid-area: card;
}


#menuFiltro {
    grid-area: menu;
}


#cardSectionTitle {
    grid-area: header;
}



