footer {
    background-color: #011C40;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}

.footerText {
    color: white;
    margin: 0;
    padding:3vh;
    font-family: 'Raleway', sans-serif;
}

#linkFooter {
    text-decoration: none;
    color: white;
   
}

#linkFooter:hover {
    text-decoration: underline;
    font-weight: bold;
}


/*  Responsive */

@media (max-width: 667px) {

    .footerText {
        font-size: 2vh;
    }


}